<ion-view view-title="Super Cupones">
    <ion-content has-header="true" class="padding" no-scroll>
        <div ng-if="cardsLoaded">
            <td-cards>
                <td-card id="td-card"
                         class="card"
                         ng-repeat="card in cards"
                         on-transition-left="transitionLeft(card)"
                         on-transition-right="transitionRight(card)"
                         on-transition-out="transitionOut(card)"
                         on-destroy="cardDestroyed($index)"
                         on-swipe-left="cardSwipedLeft($index)"
                         on-swipe-right="cardSwipedRight($index)"
                         on-partial-swipe="cardPartialSwipe(amt)">
                    <div class="card">
                        <div class="title" align="center"><h2>{{card.brand}}</h2></div>
                        <div class="title" align="center"><h3>{{card.titulo}}</h3></div>
                        <div class="item item-image">
                            <div class="td-card__overlay td-card__overlay--dislike no-text">
                                <div class="noBox boxed">No Quiero</div>
                            </div>
                            <img ng-src="{{card.image}}">
                            <div class="td-card__overlay td-card__overlay--like yes-text">
                                <div class="yesBox boxed" id="centerMe">Si Quiero</div>
                            </div>
                        </div>
                    </div>
                </td-card>
            </td-cards>
        </div>
    </ion-content>
</ion-view>